@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

body, html, button, p, strong, span {
  font-family: 'Zen Maru Gothic', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homeContainer {
  /* 背景をグラデーションアニメーション */
  background: linear-gradient(270deg, #cbfbcf, #ffdfc6, #ffd9f5, #cfe5ff);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
}

/* グラデーションアニメーション */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  border: 1px solid #dfefefc9;
  padding: 25px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.503);
  backdrop-filter: blur(10px);
  box-shadow: 2px 12px 17px -7px #383838;
}

.user-text {
  font-size: 1.2rem;
  margin: 4px 0;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu-item {
  position: relative;
  margin-right: 30px;
  margin-top: 30px;
  text-align: center;
}

.menu-button {
  margin-top: 20px;
  margin-right: 30px;
  border-radius: 10px;
  background: #f0f0f0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.menu-button:hover {
  background: #d0d0d0;
  transform: scale(1.1);
}

.menu-button:active {
  background: #a0a0a0;
  transform: scale(0.90);
}

.menu-icon {
  width: 100px;
  height: 100px;
}

.menu-description {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  white-space: nowrap;
  display: none;
}

.menu-item:hover .menu-description {
  display: block; 
}

.make-or-join-room {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 80px;
}

.make-room-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: x-large;
}

.make-room-button {
  margin-top: 5%;
  margin-bottom: 15px;
  border-radius: 10px;
  background: #f0f0f0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.make-room-button:hover {
  background: #d0d0d0;
  transform: scale(1.1);
}

.make-room-button:active {
  background: #a0a0a0;
  transform: scale(0.90);
}

/* ルーム参加 */
.join-room-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: x-large;
}

.join-room-button {
  margin-top: 5%;
  margin-bottom: 15px;
  border-radius: 10px;
  background: #f0f0f0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.join-room-button:hover {
  background: #d0d0d0;
  transform: scale(1.1);
}

.join-room-button:active {
  background: #a0a0a0;
  transform: scale(0.90);
}

/* ------------------------------
   ▼ 768px以下でレスポンシブ対応
------------------------------- */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .menu {
    margin-top: 20px;
    justify-content: center;
  }

  .menu-item {
    margin-right: 0;
    margin-top: 20px;
  }

  .make-or-join-room {
    flex-direction: column;
    gap: 40px;
    margin-top: 30px;
  }

  .make-room-group,
  .join-room-group {
    margin: 0;
  }
}
