.menu {
  display: flex;
  justify-content: flex-end;
}

.menu-botton {
  margin-top: 20px;
  margin-right: 30px;
}

.menu-icon {
  height: 100px;
  width: 100px;
}

.make-or-join-room {
  display: flex;
  justify-content: center;
}

.make-room-gourp {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: x-large;
  margin-top: 10%;
  margin-right: 120px;
}

.join-room-gourp {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: x-large;
  margin-top: 10%;
  margin-left: 120px;
}

.make-room-button {
  margin-top: 5%;
  margin-bottom: 15px;
}

.join-room-button {
  margin-top: 5%;
  margin-bottom: 15px;
}