.battle-screen {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh; /* ビューポート全体の高さ */
  width: 100vw; /* ビューポート全体の幅 */
  background: linear-gradient(270deg, #cbfbcf, #ffdfc6, #ffd9f5, #cfe5ff); /* グラデーション色 */
  background-size: 400% 400%; /* グラデーションの大きさ */
  animation: gradient 10s ease infinite; /* アニメーションを適用 */
}
  
/* グラデーションアニメーションの定義 */
@keyframes gradient {
  0% {
    background-position: 0% 50%; /* 初期位置 */
  }
  50% {
    background-position: 100% 50%; /* 中間位置 */
  }
  100% {
    background-position: 0% 50%; /* 終了位置 */
  }
}  

.dice {
  padding: 0;
  height: 28vh;
  width: 28vh;
  border: 2px solid #515050; 
  border-radius: 15px;
  cursor: pointer; /* ポインタ表示 */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.dice-picture {
  object-fit:contain;
  width:90%;
  height:90%;
}

.event-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  padding: 0;
  border: 2px solid #515050; 
  border-radius: 15px;
  cursor: pointer; /* ポインタ表示 */
  width: 18vw; /* ビューポート全体の幅 */
}

.event-button {
  border-radius: 10px;
  width: 80%;
  height: 15%;
  font-size: large;
  font-weight: bold;
  background-color: #ffdede;
}

.square {
  padding: 0;
  width: 100%; /* セルをグリッドの大きさに合わせる */
  height: 100%; /* セルをグリッドの大きさに合わせる */
  background-color: rgb(251, 217, 206);
  border: 2px solid #515050; 
  border-radius: 3px;
  cursor: pointer; /* ポインタ表示 */
  transition: background-color 0.1s ease, transform 0.1s ease;
}

/* ホバー時のフィードバック */
.square:hover {
  background-color: rgb(255, 200, 180); /* ホバー時に少し色を変える */
  transform: scale(1.02); /* 少し拡大 */
}

/* クリック時のフィードバック */
.square:active {
  background-color: rgb(230, 150, 130); /* 押したときに濃い色に */
  transform: scale(0.97); /* 押し込まれたように縮小 */
}

.square-red {
  background-color: rgb(255, 112, 112); /* 赤色 */
}

.square-red:hover {
  background-color: rgb(255, 74, 74); /* ホバー時に少し色を変える */
  transform: scale(1.02); /* 少し拡大 */
}

.square-red:active {
  background-color: rgb(255, 0, 0); /* 押したときに濃い色に */
  transform: scale(0.97); /* 押し込まれたように縮小 */
}

.square-yellow {
  background-color: rgb(255, 241, 134);
}

.square-yellow:hover {
  background-color: rgb(231, 255, 74); /* ホバー時に少し色を変える */
  transform: scale(1.02); /* 少し拡大 */
}

.square-yellow:active {
  background-color: rgb(255, 234, 4); /* 押したときに濃い色に */
  transform: scale(0.97); /* 押し込まれたように縮小 */
}


.square-green {
  background-color: rgb(135, 222, 135);
}

.square-green:hover {
  background-color: rgb(85, 222, 85); /* ホバー時に少し色を変える */
  transform: scale(1.02); /* 少し拡大 */
}

.square-green:active {
  background-color: rgb(3, 203, 3); /* 押したときに濃い色に */
  transform: scale(0.97); /* 押し込まれたように縮小 */
}

.square-blue {
  background-color: rgb(137, 137, 255);
}

.square-blue:hover {
  background-color: rgb(89, 89, 254); /* ホバー時に少し色を変える */
  transform: scale(1.02); /* 少し拡大 */
}

.square-blue:active {
  background-color: rgb(22, 22, 255); /* 押したときに濃い色に */
  transform: scale(0.97); /* 押し込まれたように縮小 */
}

.field-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr); /* 9列 */
  grid-template-rows: repeat(9, 1fr); /* 9行 */
  gap: 1px; /* マス目間のスペース */
  width: 43vw; /* ビューポート横幅の40% */
  height: 43vw; /* 正方形のため横幅と同じ値を指定 */
  background-color: #ffffff; /* 背景色 */
  border: 2px solid #515050; /* 枠線を追加 */
}


.dice-event {
  height: 90vh; /* ビューポート全体の高さ */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 18vw; /* ビューポート全体の幅 */
}

.player-status-container {
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 20px;
  border: 2px solid black;
  padding: 8px;
  height: 90vh; /* ビューポート全体の高さ */
  width: 18vw; /* ビューポート全体の幅 */
  background-color: #fff;
  border-radius: 15px;
}

.player-status {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  border: 1px solid black;
  padding: 8px;
  background-color: #f9f9f9;
  border-radius: 15px;
}

.player-status:hover {
  background-color: rgb(185, 255, 221); /* ホバー時に少し色を変える */
  transform: scale(1.02); /* 少し拡大 */
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-name {
  font-size: 23px;
  font-weight: bold;
}

.player-points {
  font-size: 20px;
}

.player-turn-indicator {
  font-size: 30px;
  text-align: center;
  color: black;
}
